.LeftSect{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: var(--TextBlue);
    justify-content: center;
}

.RightSect{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.infoRight{
    width: 100%;
}

.LeftInfo{
    width: 100%;
}

.textInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberTextInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 4.5rem;
}

.transaccionDiv{
    display: flex;
    height: 3rem;
    background-color: #409D3E;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.transaccionDiv h4{
    color: white;
}

.InfoTitles{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.InfoTitles h4{
    font-weight: 800;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
}

.buttonDiv button{
    margin-left: 2rem;
    text-decoration: underline;
}

.buttonDiv h6{
    color: #AFAFAF;
}
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        overflow-x: hidden;
    }
    .LeftInfo{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        color: var(--TextBlue);
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .infoRight{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    .numberTextInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;  
        margin: 1.5rem 0 1.5rem 0;
    }
    .numberTextInfo h4{
        width: 15rem;
    }
    .infoDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        padding: 1rem;

    }
    .infoDiv h2{
        color: var(--TextBlue);
        font-size: 0.8rem;
    }
    .buttonDiv{
        flex-direction: column;
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    .buttonDiv button {
        margin-left: 0rem;
        text-decoration: underline;
    }
}
