.Container {
  width: 33%;
  margin: auto;
}

.BannerPQR {
  width: 85%;
  margin: auto;
  margin-top: 4rem;
}

.Selector {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.SubmitBtn {
  width: 13rem;
  height: 2.5rem;
  justify-content: center;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--DarkBlue);
  color: var(--White);
}

.CrearBtn,
.ConsultarBtn {
  cursor: pointer;
  width: 48%;
  height: 2rem;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--DarkBlue);
  border: solid 1px var(--DarkBlue);
}

.CrearBtn.Selected,
.ConsultarBtn.Selected {
  background-color: var(--DarkBlue);
  color: var(--White);
}

.SelectorInput {
  width: 100%;
  border: solid 1px var(--TextBlue);
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  height: 2rem;
  padding: 15px;
}

.LabelTxt {
  color: var(--TextBlue);
  font-weight: 600;
}

.SubmitBtn {
  width: 100%;
}
