*{
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  src: url(/src/Fonts/) format(ttf);
}

:root {
  --White: #ffffff; 
  --Blue: #079DD9; 
  --DarkBlue: #004A87;
}

body{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  margin: 0;
  padding: 0;
}

 ::-webkit-scrollbar-track {
  background: #7272728c;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
} 
