.carousel-container {
  position: relative;
  display: inline-block;
}

.carousel-image {
  width: 100vw;
  height: auto;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}



