.TableHistory {
  background-color: var(--White);
  border-radius: 0 20px 20px 20px;
}

table {
  width: 100%;
}

.TableHistory th,
.TableHistory td {
  padding: 1.5rem;
  text-align: center;
}

.TableHistory th {
  color: var(--Blue);
}

.TableHistory tr{
  align-self: center;
}

.TableHistory td {
  color: var(--DarkBlue);
  font-weight: 800;

  &.PeriodoTxt {
    font-weight: 600;
  }

  &.MesTxt {
    font-weight: 900;
    font-size: 1.1rem;
  }
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.EstadoFactura {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.8rem;
}

.OptionsIcon {
  margin-left: 5rem;
  margin-right: 3rem;
  align-self: center;
  color: var(--DarkBlue);
}

.Bold {
  font-weight: 800;
  margin-left: 0.5rem;
}

.EstadoText {
  width: 10.5rem;
  justify-content: center;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  font-weight: 600;
}

.LinePeriod {
  display: flex;
  flex-direction: row;
}

.CalendarIcon {
  align-self: center;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  color: var(--Blue);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .TableHistory th:nth-child(2),
  .TableHistory td:nth-child(2),
  .TableHistory th:nth-child(3),
  .TableHistory td:nth-child(3) {
    display: none;
  }

  .OptionsIcon {
    margin-left: 2rem;
    margin-right: 1rem;
  }
}
